In [2]:
import pandas as pd

In [5]:
# using column by column

hey_arnold = pd.DataFrame ({
    "Character_in_show" : ["Arnold","Gerald","Helga","Phoebe","Harold","Eugene"],
    "Football_Shaped_Head" : [True, False, False, False, False, False],
    "Height" : ["average","tallish","tallish","short","tall","short"],
    "color_of_hair":["blond","black","blond","black","unknown","red"]
    })

hey_arnold

  Character_in_show  Football_Shaped_Head   Height color_of_hair
0            Arnold                  True  average         blond
1            Gerald                 False  tallish         black
2             Helga                 False  tallish         blond
3            Phoebe                 False    short         black
4            Harold                 False     tall       unknown
5            Eugene                 False    short           red

In [7]:
# using row by row

hey_arnold_row = pd.DataFrame([
    {"Character_in_show":"Arnold","Football_Shaped_Head":True,"Height":"average","color_of_hair":"blond"},
    {"Character_in_show":"Gerald","Football_Shaped_Head":False,"Height":"tallish","color_of_hair":"black"},
    {"Character_in_show":"Helga","Football_Shaped_Head":False,"Height":"tallish","color_of_hair":"blond"},
    ])
hey_arnold_row

  Character_in_show  Football_Shaped_Head   Height color_of_hair
0            Arnold                  True  average         blond
1            Gerald                 False  tallish         black
2             Helga                 False  tallish         blond

In [8]:
# Rename columns using .rename()
# Height column was not renamed because it didnt change

hey_arnold_renamed = hey_arnold.rename(columns = {"Character_in_show":"Character",
                                                 "color_of_hair":"Hair Color",
                                                  "Football_Shaped_Head":"Football Head"
                                                 })
hey_arnold_renamed

  Character  Football Head   Height Hair Color
0    Arnold           True  average      blond
1    Gerald          False  tallish      black
2     Helga          False  tallish      blond
3    Phoebe          False    short      black
4    Harold          False     tall    unknown
5    Eugene          False    short        red

In [9]:
# Rearrange columns using [[]]

hey_arnold_alpha = hey_arnold_renamed[["Character","Height","Hair Color","Football Head"]]
hey_arnold_alpha

  Character   Height Hair Color  Football Head
0    Arnold  average      blond           True
1    Gerald  tallish      black          False
2     Helga  tallish      blond          False
3    Phoebe    short      black          False
4    Harold     tall    unknown          False
5    Eugene    short        red          False